*{margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    }

    .wrap{
        max-width: 1250px;
        margin: auto;
        display: block;
        background:#fff;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1)
    }
.banner{
    background: 
    linear-gradient(to bottom, rgba(0, 0, 10, 0.18),
    rgba(20, 20, 20, 0.486)),
    url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   opacity: 0.9;
    height: 100vh;
    position: relative;
    background-color: #000;

}
.top-bar{
    background-color: green;
    height: 4rem;}
    .social{
        padding: 1rem;
    }
    .search-top{
        padding: 1rem;
    }
    #s{
        background-color: #1e451e;    
        border: none;
        /* min-width: 300px; */
    }
.section-1{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-nav{
    /* background-color: green; */
    padding: 1rem 1rem;
}
#navbarCollapse ul li a{

    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}
#navbarCollapse ul li a:hover{
    color: red;
}
.banner>h2{
    position: absolute;
    top: 22rem;
    left: 25rem;
    color: white;
}
input#s{ 
}

   
/* comments------------------------------------------ */
#posts {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 65rem;
  }
  .postDisplay{
    padding: 13px;
    width: min-content;
    margin: 1rem;
  }
  .postDisplay:hover{
/* background-color: #1e451e; */
color: grey;
box-shadow: 0 0 4.5px 0px;
  }
  .postArticule>h2{
    margin-block-start: 2rem;
    margin-inline-start: 16rem;
  }

  
  .containerDiv {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  .latestPostsContainer{
      display: block;
      margin-left: -15rem;
  }
  .mainBlogFooter{
      background-color: #000;
      color: #fff;
  }
  .mainBlogFooter{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .latestPosts{
      display: flex;
  }
  .FooterpostTestArea{
      margin-left: -12rem;
      color: grey;
  }
  .FooterpostTestArea>h4{
      color: #fff;
  }
  a{
      color:#fff;
      list-style: none;
  }
  .about>h6{
    color: grey;
  }
  .career-social-icon li{
      list-style: none;
  }
  .career-social ul li{
      list-style: none;
  }
  .postDisplay a{
      color: grey
  }
  .postDisplay a:hover{
      color: blue
  }
 
/* media queries --------------------------------------------------- */
@media (min-width: 577px) and (max-width: 765px){
    input#s{
        display: none; 
    }   
}
@media (min-width: 320px) and (max-width: 480px){
    input#s{
        display: none;
    } 
    .banner>h2{
        left: 0;
        top: 6rem;
    }   
}
 /* @media (min-width: 1020px){
    .search-top{
        padding: .6rem; */
    }   

@media (min-width: 481px) and (max-width: 576px){
    .navbar-expand-sm .navbar-toggler {
        display: none;
        background-color:green;
    }
} 